In [1]:
import dataverk as dv
import pandas as pd
import ipywidgets as widgets

import plotly.offline as py
import plotly.graph_objs as go
import plotly.io as plio

# Get data

### Befolkning

In [2]:
#befolkning
conn = dv.connectors.JSONStatConnector()
df_b = conn.get_pandas_df('https://data.ssb.no/api/v0/no/table/01222')

2019-08-09T09:59:36.521676: B149899 https://data.ssb.no/api/v0/no/table/01222

In [3]:
df_b['region'].unique()

array(['Hele landet', 'Østfold', 'Halden', 'Sarpsborg (-1991)',
       'Fredrikstad (-1993)', 'Moss', 'Sarpsborg', 'Fredrikstad',
       'Hvaler', 'Borge (-1993)', 'Varteig (-1991)', 'Skjeberg (-1991)',
       'Berg  (-1966)', 'Idd (-1966)', 'Aremark', 'Marker', 'Rømskog',
       'Trøgstad', 'Spydeberg', 'Askim', 'Eidsberg', 'Skiptvet',
       'Rakkestad', 'Tune (-1991)', 'Rolvsøy (1911-1993)',
       'Kråkerøy (1908-1993)', 'Onsøy (-1993)', 'Råde', 'Rygge',
       'Våler (Østfold)', 'Hobøl', 'Uoppgitt kommune Østfold', 'Akershus',
       'Vestby', 'Ski', 'Ås', 'Frogn', 'Nesodden', 'Oppegård', 'Bærum',
       'Asker', 'Aurskog-Høland', 'Sørum', 'Fet', 'Rælingen', 'Enebakk',
       'Lørenskog', 'Skedsmo', 'Nittedal', 'Gjerdrum', 'Ullensaker',
       'Nes (Akershus)', 'Eidsvoll', 'Nannestad', 'Hurdal',
       'Uoppgitt kommune Akershus', 'Oslo', 'Oslo kommune',
       'Uoppgitt komm. Oslo', 'Hedmark', 'Hamar (-1991)', 'Kongsvinger',
       'Hamar', 'Ringsaker', 'Vang (-1991)', 'Løten', 'Stange',
       'Nord-Odal', 'Sør-Odal', 'Eidskog', 'Grue', 'Åsnes',
       'Våler (Hedmark)', 'Elverum', 'Trysil', 'Åmot', 'Stor-Elvdal',
       'Rendalen', 'Engerdal', 'Tolga-Os (1966-1975)', 'Tolga', 'Tynset',
       'Alvdal', 'Folldal', 'Os (Hedmark)', 'Uoppgitt kommune Hedmark',
       'Oppland', 'Lillehammer', 'Gjøvik', 'Dovre', 'Lesja', 'Skjåk',
       'Lom', 'Vågå', 'Nord-Fron', 'Sel', 'Fron (1966-1976)', 'Sør-Fron',
       'Ringebu', 'Øyer', 'Gausdal', 'Østre Toten', 'Vestre Toten',
       'Jevnaker', 'Lunner', 'Gran', 'Søndre Land', 'Nordre Land',
       'Sør-Aurdal', 'Etnedal', 'Nord-Aurdal', 'Vestre Slidre',
       'Øystre Slidre', 'Vang', 'Uoppgitt kommune Oppland', 'Buskerud',
       'Ringerike (1964-1976)', 'Drammen', 'Kongsberg', 'Ringerike',
       'Hole', 'Flå', 'Nes (Buskerud)', 'Gol', 'Hemsedal', 'Ål', 'Hol',
       'Sigdal', 'Krødsherad', 'Modum', 'Øvre Eiker', 'Nedre Eiker',
       'Lier', 'Røyken', 'Hurum', 'Flesberg', 'Rollag', 'Nore og Uvdal',
       'Uoppgitt kommune Buskerud', 'Vestfold', 'Horten',
       'Holmestrand (-2017)', 'Horten (-1987)', 'Tønsberg',
       'Tønsberg (-1987)', 'Sandefjord (-2016)', 'Larvik (-1987)',
       'Stavern (1944-1987)', 'Larvik (-2017)', 'Sandefjord', 'Svelvik',
       'Larvik', 'Sande (Vestfold)', 'Hof (-2017)', 'Holmestrand', 'Re',
       'Borre (-1987)', 'Ramnes (-2001)', 'Andebu (-2016)',
       'Stokke (-2016)', 'Sem (-1987)', 'Nøtterøy (-2017)',
       'Tjøme (-2017)', 'Sandar (-1967)', 'Tjølling (-1987)',
       'Brunlanes (-1987)', 'Hedrum (-1987)', 'Lardal (-2017)', 'Færder',
       'Uoppgitt kommune Vestfold', 'Telemark', 'Porsgrunn', 'Skien',
       'Notodden', 'Siljan', 'Bamble', 'Kragerø', 'Drangedal', 'Nome',
       'Bø (Telemark)', 'Sauherad', 'Tinn', 'Hjartdal', 'Seljord',
       'Kviteseid', 'Nissedal', 'Fyresdal', 'Tokke', 'Vinje',
       'Uoppgitt kommune Telemark', 'Aust-Agder', 'Risør',
       'Arendal (-1991)', 'Grimstad', 'Arendal', 'Gjerstad', 'Vegårshei',
       'Tvedestrand', 'Moland (1962-1991)', 'Froland', 'Øyestad (-1991)',
       'Tromøy (-1991)', 'Hisøy (-1991)', 'Fjære (-1970)',
       'Landvik (-1970)', 'Lillesand', 'Birkenes', 'Åmli',
       'Mykland (-1966)', 'Herefoss (-1966)', 'Iveland',
       'Evje og Hornnes', 'Bygland', 'Valle', 'Bykle',
       'Uoppgitt kommune Aust-Agder', 'Vest-Agder', 'Kristiansand',
       'Mandal', 'Farsund', 'Flekkefjord', 'Vennesla', 'Songdalen',
       'Søgne', 'Marnardal', 'Åseral', 'Audnedal', 'Lindesnes', 'Lyngdal',
       'Hægebostad', 'Kvinesdal', 'Sirdal', 'Uoppgitt kommune Vest-Agder',
       'Rogaland', 'Eigersund', 'Sandnes', 'Stavanger', 'Haugesund',
       'Sokndal', 'Lund', 'Bjerkreim', 'Hå', 'Klepp', 'Time', 'Gjesdal',
       'Sola', 'Randaberg', 'Forsand', 'Strand', 'Hjelmeland', 'Suldal',
       'Sauda', 'Finnøy', 'Rennesøy', 'Kvitsøy', 'Bokn', 'Tysvær',
       'Karmøy', 'Utsira', 'Vindafjord (1965-2005)', 'Ølen (2002-2005)',
       'Vindafjord', 'Uoppgitt kommune Rogaland', 'Hordaland', 'Bergen',
       'Etne', 'Ølen (-2001)', 'Sveio', 'Bømlo', 'Stord', 'Fitjar',
       'Tysnes', 'Kvinnherad', 'Jondal', 'Odda', 'Ullensvang (-1976)',
       'Ullensvang', 'Eidfjord', 'Ulvik', 'Granvin', 'Voss', 'Kvam',
       'Fusa', 'Samnanger', 'Os (Hordaland)', 'Austevoll', 'Sund',
       'Fjell', 'Askøy', 'Laksevåg (1918-1971)', 'Fana (-1971)',
       'Arna (1964-1971)', 'Vaksdal', 'Modalen', 'Osterøy',
       'Åsane (-1971)', 'Meland', 'Øygarden', 'Radøy', 'Lindås',
       'Austrheim', 'Fedje', 'Masfjorden', 'Uoppgitt kommune Hordaland',
       'Bergen (t.o.m. 1971)', 'Bergen (-1971)', 'Sogn og Fjordane',
       'Flora', 'Gulen', 'Solund', 'Hyllestad', 'Høyanger', 'Vik',
       'Balestrand', 'Leikanger', 'Sogndal', 'Aurland', 'Lærdal', 'Årdal',
       'Luster', 'Askvoll', 'Fjaler', 'Gaular', 'Jølster', 'Førde',
       'Naustdal', 'Bremanger', 'Vågsøy', 'Selje', 'Eid', 'Hornindal',
       'Gloppen', 'Stryn (-1976)', 'Stryn',
       'Uoppgitt kommune Sogn og Fjordane', 'Møre og Romsdal',
       'Ålesund (-1976)', 'Molde', 'Kristiansund  (-2007)', 'Ålesund',
       'Kristiansund', 'Vanylven', 'Sande (Møre og Romsdal)',
       'Herøy (Møre og Romsdal)', 'Ulstein', 'Hareid', 'Volda', 'Ørsta',
       'Ørskog', 'Norddal', 'Stranda', 'Stordal', 'Ørskog (-1976)',
       'Sykkylven', 'Skodje', 'Sula', 'Giske', 'Haram', 'Vestnes',
       'Rauma', 'Nesset', 'Midsund', 'Sandøy', 'Aukra', 'Fræna', 'Eide',
       'Averøy', 'Frei (-2007)', 'Gjemnes', 'Tingvoll', 'Sunndal',
       'Surnadal', 'Rindal (-2018)', 'Aure (-2005)', 'Halsa',
       'Tustna (-2005)', 'Smøla', 'Aure',
       'Uoppgitt kommune Møre og Romsdal', 'Trøndelag',
       'Sør-Trøndelag (-2017)', 'Trondheim', 'Steinkjer', 'Namsos',
       'Hemne', 'Snillfjord', 'Hitra', 'Frøya', 'Ørland', 'Agdenes',
       'Bjugn', 'Åfjord', 'Roan', 'Osen', 'Oppdal', 'Rennebu', 'Meldal',
       'Orkdal', 'Røros', 'Holtålen', 'Midtre Gauldal', 'Melhus', 'Skaun',
       'Klæbu', 'Malvik', 'Selbu', 'Tydal', 'Meråker', 'Stjørdal',
       'Frosta', 'Levanger', 'Verdal', 'Verran', 'Namdalseid',
       'Snåase - Snåsa', 'Lierne', 'Raarvihke - Røyrvik', 'Namsskogan',
       'Grong', 'Høylandet', 'Overhalla', 'Fosnes', 'Flatanger', 'Vikna',
       'Nærøy', 'Leka', 'Inderøy', 'Indre Fosen', 'Rindal',
       'Trondheim (-2017)', 'Hemne (-2017)', 'Snillfjord (-2017)',
       'Hitra (-2017)', 'Frøya (-2017)', 'Ørland (-2017)',
       'Agdenes (-2017)', 'Rissa (-2017)', 'Bjugn (-2017)',
       'Åfjord (-2017)', 'Roan (-2017)', 'Osen (-2017)', 'Oppdal (-2017)',
       'Rennebu (-2017)', 'Meldal (-2017)', 'Orkdal (-2017)',
       'Røros (-2017)', 'Holtålen (-2017)', 'Haltdalen (-1971)',
       'Midtre Gauldal (-2017)', 'Melhus (-2017)', 'Skaun (-2017)',
       'Klæbu (-2017)', 'Malvik (-2017)', 'Selbu (-2017)',
       'Tydal (-2017)', 'Uoppgitt kommune Sør-Trøndelag',
       'Nord-Trøndelag (-2017)', 'Steinkjer (-2017)', 'Namsos (-2017)',
       'Meråker (-2017)', 'Stjørdal (-2017)', 'Frosta (-2017)',
       'Leksvik (-2017)', 'Levanger (-2017)', 'Verdal (-2017)',
       'Mosvik  (-2011)', 'Verran (-2017)', 'Namdalseid (-2017)',
       'Inderøy (-2011)', 'Snåase - Snåsa (-2017)', 'Lierne (-2017)',
       'Raarvihke - Røyrvik (-2017)', 'Namsskogan (-2017)',
       'Grong (-2017)', 'Høylandet (-2017)', 'Overhalla (-2017)',
       'Fosnes (-2017)', 'Flatanger (-2017)', 'Vikna (-2017)',
       'Nærøy (-2017)', 'Leka (-2017)', 'Inderøy (-2017)',
       'Uoppgitt kommune Nord-Trøndelag', 'Nordland', 'Bodø', 'Narvik',
       'Bindal', 'Sømna', 'Brønnøy', 'Brønnøy (-1976)', 'Vega',
       'Vevelstad', 'Herøy (Nordland)', 'Alstahaug', 'Leirfjord', 'Vefsn',
       'Grane', 'Hattfjelldal', 'Dønna', 'Nesna', 'Hemnes', 'Rana',
       'Lurøy', 'Træna', 'Rødøy', 'Meløy', 'Gildeskål', 'Beiarn',
       'Saltdal', 'Fauske - Fuosko', 'Skjerstad (-2004)', 'Bodin (-1967)',
       'Sørfold', 'Steigen', 'Hamarøy - Hábmer',
       'Divtasvuodna - Tysfjord', 'Lødingen', 'Tjeldsund', 'Evenes',
       'Ballangen', 'Ankenes (-1973)', 'Røst', 'Værøy',
       'Moskenes (1916-1975)', 'Flakstad', 'Vestvågøy', 'Vågan', 'Hadsel',
       'Bø (Nordland)', 'Øksnes', 'Sortland - Suortá', 'Andøy',
       'Moskenes', 'Uoppgitt kommune Nordland', 'Troms - Romsa',
       'Harstad (-2012)', 'Tromsø', 'Harstad - Hárstták', 'Kvæfjord',
       'Skånland', 'Bjarkøy (-2012)', 'Ibestad', 'Gratangen',
       'Loabák - Lavangen', 'Salangen (-1976)', 'Bardu', 'Salangen',
       'Målselv', 'Sørreisa', 'Dyrøy', 'Tranøy', 'Torsken', 'Berg',
       'Lenvik', 'Balsfjord', 'Karlsøy', 'Lyngen',
       'Storfjord - Omasvuotna - Omasvuono',
       'Gáivuotna - Kåfjord - Kaivuono', 'Skjervøy',
       'Nordreisa - Ráisa - Raisi', 'Kvænangen', 'Uoppgitt kommune Troms',
       'Finnmark - Finnmárku', 'Hammerfest (-1991)', 'Vardø', 'Vadsø',
       'Hammerfest', 'Guovdageaidnu - Kautokeino', 'Alta', 'Loppa',
       'Hasvik', 'Sørøysund (-1991)', 'Kvalsund', 'Måsøy', 'Nordkapp',
       'Porsanger - Porsángu - Porsanki', 'Kárásjohka - Karasjok',
       'Lebesby', 'Gamvik', 'Berlevåg', 'Deatnu - Tana',
       'Unjárga - Nesseby', 'Båtsfjord', 'Sør-Varanger',
       'Uoppgitt kommune Finnmark', 'Svalbard', 'Longyearbyen',
       'Ny-Ålesund', 'Svea', 'Bjørnøya', 'Hopen',
       'Uoppgitt kommune Svalbard', 'Jan Mayen', 'Uoppgitt Jan Mayen',
       'Kontinentalsokkelen', 'Sokkelen sør for 62° N',
       'Sokkelen nord for 62° N', 'Sokkelen, uspesifisert', 'Utlandet',
       'Havområder', 'Ikke bosatt i Norge', 'Uoppgitt fylke',
       'Uoppgitt kommune'], dtype=object)

In [4]:
df_b_f = df_b[(df_b['region']=='Hele landet') & (df_b['statistikkvariabel']=='Befolkning ved inngangen av kvartalet')]

In [5]:
df_b_f.head()

        region                     statistikkvariabel kvartal      value
0  Hele landet  Befolkning ved inngangen av kvartalet  1997K4  4413304.0
1  Hele landet  Befolkning ved inngangen av kvartalet  1998K1  4417599.0
2  Hele landet  Befolkning ved inngangen av kvartalet  1998K2  4423260.0
3  Hele landet  Befolkning ved inngangen av kvartalet  1998K3  4431396.0
4  Hele landet  Befolkning ved inngangen av kvartalet  1998K4  4440566.0

In [6]:
df_b_f['region'].str.contains('Finnmark')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
56    False
57    False
58    False
59    False
60    False
61    False
62    False
63    False
64    False
65    False
66    False
67    False
68    False
69    False
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
Name: region, Length: 86, dtype: bool

### Arbeidsstyrke

In [11]:
conn = dv.connectors.JSONStatConnector()
df_s = conn.get_pandas_df('https://data.ssb.no/api/v0/no/table/05110')

2019-05-14T13:02:14.520944: B149899 https://data.ssb.no/api/v0/no/table/05110

/Users/B149899/Projects/pyjstat/pyjstat/pyjstat.py:250: FutureWarning:

by argument to sort_index is deprecated, please use .sort_values(by=...)

/Users/B149899/Projects/pyjstat/pyjstat/pyjstat.py:250: FutureWarning:

by argument to sort_index is deprecated, please use .sort_values(by=...)

/Users/B149899/Projects/pyjstat/pyjstat/pyjstat.py:250: FutureWarning:

by argument to sort_index is deprecated, please use .sort_values(by=...)

/Users/B149899/Projects/pyjstat/pyjstat/pyjstat.py:250: FutureWarning:

by argument to sort_index is deprecated, please use .sort_values(by=...)

/Users/B149899/Projects/pyjstat/pyjstat/pyjstat.py:250: FutureWarning:

by argument to sort_index is deprecated, please use .sort_values(by=...)

In [19]:
df_s.head()

,arbeidsstyrkestatus,kjønn,alder,statistikkvariabel,kvartal,value
0,Personer i alt,Begge kjønn,15-74 år,Personer (1 000 personer),1988K2,3072.0
1,Personer i alt,Begge kjønn,15-74 år,Personer (1 000 personer),1988K3,3070.0
2,Personer i alt,Begge kjønn,15-74 år,Personer (1 000 personer),1988K4,3068.0
3,Personer i alt,Begge kjønn,15-74 år,Personer (1 000 personer),1989K1,3094.0
4,Personer i alt,Begge kjønn,15-74 år,Personer (1 000 personer),1989K2,3091.0

In [20]:
df_s['statistikkvariabel'].unique()

array(['Personer (1 000 personer)', 'Personer (prosent)'], dtype=object)

In [21]:
df_s['arbeidsstyrkestatus'].unique()

array(['Personer i alt', 'Arbeidsstyrken i alt', 'Sysselsatte',
       'Arbeidsledige', 'Personer utenfor arbeidsstyrken'], dtype=object)

In [22]:
df_s['alder'].unique()

array(['15-74 år', '20-64 år', '20-66 år', '15-24 år', '25-54 år',
       '55-74 år'], dtype=object)

In [56]:
df_s_f = df_s[(df_s['arbeidsstyrkestatus'].isin(['Sysselsatte', 'Arbeidsledige','Personer utenfor arbeidsstyrken'])) &
            (df_s['alder'].isin(['15-74 år'])) &
            (df_s['kjønn'].isin(['Begge kjønn'])) &
            (df_s['statistikkvariabel'].isin(['Personer (1 000 personer)'])) &
            (~df_s['kvartal'].str.contains('Gml'))]

In [57]:
df_s_f.head()

,arbeidsstyrkestatus,kjønn,alder,statistikkvariabel,kvartal,value
9216,Sysselsatte,Begge kjønn,15-74 år,Personer (1 000 personer),1988K2,2127.0
9217,Sysselsatte,Begge kjønn,15-74 år,Personer (1 000 personer),1988K3,2124.0
9218,Sysselsatte,Begge kjønn,15-74 år,Personer (1 000 personer),1988K4,2080.0
9219,Sysselsatte,Begge kjønn,15-74 år,Personer (1 000 personer),1989K1,2051.0
9220,Sysselsatte,Begge kjønn,15-74 år,Personer (1 000 personer),1989K2,2068.0

# Create views

## Line chart

In [63]:
def getLine(status):
    if (status == 'Sysselsatte'):
        return dict(color = ('#C30000'),width = 2)
    if (status == 'Arbeidsledige'):
        return dict(color = ('#3E3832'),width = 2)
    if (status == 'Personer utenfor arbeidsstyrken'):
        return dict(color = ('#FF9100'),width = 2)
    
data = []

for status in df_s_f['arbeidsstyrkestatus'].unique():
    df = df_s_f[df_s_f['arbeidsstyrkestatus'] == status]
    trace = go.Scatter(
        x = df['kvartal'],
        y = df['value'],
        name=str(status),
        line = getLine(status)
    )
    data.append(trace)

layout = go.Layout(title='Antall personer i alder 15-74')
fig_1 = go.Figure(data,layout)

go.FigureWidget(data,layout)

FigureWidget({
    'data': [{'line': {'color': '#C30000', 'width': 2},
              'name': 'Sysselsatte',
  …

# Create datapackage

In [64]:
readme = """
# Arbeidskraftundersøkelsen

"""

metadata = {
'store': 'https://raw.githubusercontent.com/datasett/nav-examples/master',
'title': 'Arbeidskraftundersøkelsen',
'readme': readme,
'license':'MIT',
'accessRights':'Open',
'auth': 'Dataverk',
'description':'Arbeidskraftundersøkelsen',
'name':'Arbeidskraftundersøkelsen',
'source':'NAV',
'keywords':['arbeidsmarkedet', 'arbeidskraft', 'sysselsetting', 'arbeidsledige'],
'provenance':'NAV',
'publisher': 'NAV',
'project': 'mesiqi', 
'user':'dataverk',
'bucket_name': 'dataparcel',
'dataset':'arbeidskraftundersøkelsen'
}

In [65]:
dp = dv.Datapackage(metadata)

## Add views to datapackage

In [67]:
description = '''
Arbeidsstyrkestatus

Antall personer i alderen 15-74
'''

dp.add_view(
    spec_type='plotly',
    name='Arbeidsstyrkestatus',
    title='Arbeidsstyrkestatus',
    description = description,
    resources=[],
    attribution = "Kilde: NAV.",
    spec=plio.to_json(fig_1)
)

# Save data and publish datapackage

In [73]:
from os import environ
environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/users/b149899/projects/binder/binder/keys/mesiqi.json'

In [74]:
client = dv.Client()
client.publish(dp)

2019-05-14T13:52:02.717066: B149899 <class 'dataverk.connectors.google_storage.GoogleStorageConnector'>: String (format: json) written to https://storage.googleapis.com/dataparcel/bd2168b2ea95601604a82d4459ad510a/datapackage.json
2019-05-14T13:52:02.975160: B149899 <class 'dataverk.connectors.elasticsearch.ElasticsearchConnector'>: Document bd2168b2ea95601604a82d4459ad510a of type odata indexed to elastic index: odata.