In [36]:
from dataverk import Client, Datapackage
import dataverk_tools.themes.nav as nav

import pandas as pd
import ipywidgets as widgets
import datetime

import plotly.offline as py
import plotly.graph_objs as go
import plotly.io as pio

pio.templates.default = "plotly_white"

import plotly.express as px

# Get data

In [2]:
url="https://www.nav.no/no/NAV+og+samfunn/Statistikk/Flere+statistikkomrader/Trygdemisbruk/_attachment/536372?_download=true&_ts=16140e9fd20"
df = pd.read_excel(url, skiprows=7)[1:20]
df.columns = ["Fylke", "Antall personer", "Anmeldt beløp"]

In [3]:
df.head(5)

      Fylke  Antall personer  Anmeldt beløp
1   Østfold             69.0     10639774.0
2  Akershus            108.0     22599182.0
3      Oslo            167.0     30772319.0
4   Hedmark             32.0      4669307.0
5   Oppland             21.0      3112811.0

In [4]:
url="https://www.nav.no/no/NAV+og+samfunn/Statistikk/Flere+statistikkomrader/Trygdemisbruk/_attachment/545663?_download=true&_ts=16894450da0"
df_2018 = pd.read_excel(url, skiprows=7)[1:20]
df_2018.columns = ["Fylke", "Antall personer", "Anmeldt beløp"]

In [5]:
df_2018.head()

      Fylke  Antall personer  Anmeldt beløp
1   Østfold             94.0     16917197.0
2  Akershus             99.0     16868268.0
3      Oslo            137.0     28588253.0
4   Hedmark             25.0      3802184.0
5   Oppland             17.0      2576129.0

# Create datapackage

In [21]:
readme = """
# Trygdemisbruk
"""

auth = 'paul.bencze@nav.no'
published = datetime.datetime.now().isoformat()

metadata = {
'readme': readme,
'store': 'gs',
'accessRights': 'Open',
'author': auth,
'published': published,
'license': 'CC BY 4.0',
'category': 'Åpne data',
'created_by': 'paul.bencze@nav.no',
'description': 'Trygdemisbruk',
'distribution': [{'format': 'datapackage','url': url}],
'format': 'datapackage',
'keywords': ['trygdemisbruk'],
'legalbasis': ['Åpne data'],
'master': 'NAV',
'pii': 'Åpne data',
'policy': [{'legal_basis': 'Offentlighetsloven','purpose': 'Åpne data'}],
'provenance': 'NAV',
'publisher': 'NAV',
'purpose': ['Åpne data'],
'spatial': 'Norge',
'theme': ['Åpne data'],
'title': 'Trygdemisbruk',
'type': 'datakatalog',
'url': url,
'project': 'odata', 
'user':'nav-examples',
'repo': 'https://github.com/datasett/examples/blob/master/nav/trygdemisbruk.ipynb',
'bucket': 'nav-opendata'
}

In [22]:
dp = Datapackage(metadata)

# Create views

In [23]:
data = [ 
go.Bar(
    x=df['Fylke'], 
    y=df['Antall personer'],
    name='Antall personer'
),
go.Bar(
    x=df['Fylke'], 
    y=df['Anmeldt beløp'],
    name='Anmeldt beløp',
    yaxis='y2'
)
]

layout = go.Layout(
    yaxis=dict(
        title='Antall personer',
        side='left'
    ),
    yaxis2=dict(
        title='Anmeldt beløp',
        anchor='x',
        overlaying='y',
        side='right'
    ),
    barmode='group'
)

fig = go.Figure(data,layout)

go.FigureWidget(data,layout)

FigureWidget({
    'data': [{'name': 'Antall personer',
              'type': 'bar',
              'uid': '448…

In [24]:
description = '''
Trygdemisbruk 2017 

'''

dp.add_view(
    spec_type='plotly',
    name='Trygdemisbruk 2017',
    title='Trygdemisbruk 2017',
    description = description,
    resources=[],
    attribution = "Kilde: NAV.",
    spec=pio.to_json(fig)
)

In [25]:
df.dtypes

Fylke               object
Antall personer    float64
Anmeldt beløp      float64
dtype: object

In [26]:
df.head()

      Fylke  Antall personer  Anmeldt beløp
1   Østfold             69.0     10639774.0
2  Akershus            108.0     22599182.0
3      Oslo            167.0     30772319.0
4   Hedmark             32.0      4669307.0
5   Oppland             21.0      3112811.0

In [27]:
df.dtypes

Fylke               object
Antall personer    float64
Anmeldt beløp      float64
dtype: object

In [28]:
spec={'hidden': False, 
      'fields':[{'name': 'Fylke', 'description': 'Fylke'},
                {'name': 'Antall personer', 'description': 'Antall personer'},
                {'name': 'Anmeldt beløp', 'description': 'Anmeldt beløp i hele kroner'}]}

In [29]:
dp.add_resource(df, 'Trygdemisbruk_2017', dsv_separator=';', spec=spec)

In [30]:
dp.add_view(
    spec_type='table',
    name='Trygdemisbruk 2017',
    resources='Trygdemisbruk_2017',
)

In [31]:
dp.add_resource(df_2018, 'Trygdemisbruk_2018', 'Trygdemisbruk 2018. Kilde: NAV', spec=spec)

dp.add_view(
    spec_type='table',
    name='Trygdemisbruk 2018',
    title='2018 tabell',
    description = 'Trygdemisbruk 2018',
    resources='Trygdemisbruk_2018',
)

In [32]:
spec_hidden = {'hidden': True, 
      'fields':[{'name': 'Fylke', 'description': 'Fylke'},
                {'name': 'Antall personer', 'description': 'Antall personer'},
                {'name': 'Anmeldt beløp', 'description': 'Anmeldt beløp i hele kroner'}]}

dp.add_resource(df_2018, 'Trygdemisbruk_2019', spec=spec_hidden)

dp.add_view(
    spec_type='table',
    name='Trygdemisbruk 2019',
    title='2019 tabell',
    description = 'Trygdemisbruk 2019',
    resources='Trygdemisbruk_2019',
)

# Save data and publish datapackage

In [33]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/users/b149899/projects/binder/binder/keys/nav_opendata.json'

In [34]:
client = Client()
client.publish(dp)

gs
2019-09-30T16:43:32.990848: B149899 <class 'dataverk.connectors.google_storage.GoogleStorageConnector'>: String (format: json) written to https://storage.googleapis.com/nav-opendata/ec09d325ad41cc5b001ece8a9876ec66/datapackage.json
2019-09-30T16:43:33.430430: B149899 <class 'dataverk.connectors.google_storage.GoogleStorageConnector'>: String (format: csv.gz) written to https://storage.googleapis.com/nav-opendata/ec09d325ad41cc5b001ece8a9876ec66/resources/Trygdemisbruk_2017.csv.gz
2019-09-30T16:43:33.795973: B149899 <class 'dataverk.connectors.google_storage.GoogleStorageConnector'>: String (format: csv.gz) written to https://storage.googleapis.com/nav-opendata/ec09d325ad41cc5b001ece8a9876ec66/resources/Trygdemisbruk_2018.csv.gz
2019-09-30T16:43:34.121814: B149899 <class 'dataverk.connectors.google_storage.GoogleStorageConnector'>: String (format: csv.gz) written to https://storage.googleapis.com/nav-opendata/ec09d325ad41cc5b001ece8a9876ec66/resources/Trygdemisbruk_2019.csv.gz
2019-09-30T16:43:35.571851: B149899 <class 'dataverk.connectors.elasticsearch.ElasticsearchConnector'>: Document ec09d325ad41cc5b001ece8a9876ec66 of type dcat indexed to elastic index: dcat.